n8n_sentinel_workflow.json
{
  "name": "SPS Sentinel: Autonomous Newsroom v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hours": 1
            }
          ]
        }
      },
      "name": "Hourly Patrol",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "patrol",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ],
      "webhookId": "manual-patrol"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sps-brain:8000/mission/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.SPS_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "pillars",
              "value": "=[\"scam_watch\", \"economic_security\", \"personal_security\"]"
            },
            {
              "name": "max_articles",
              "value": "=3"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "name": "Trigger Newsroom Mission",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        400
      ],
      "notesInFlow": true,
      "notes": "Calls /mission/run API endpoint with pillar filtering.\nPrioritizes: scam_watch, economic_security, personal_security.\nRuns full pipeline: TopicSourcer -> Editorial -> Council -> Publish"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "mission-started",
              "leftValue": "={{$json.status}}",
              "rightValue": "Mission started in background",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Mission Started",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/HERE",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"SPS Sentinel: Mission Started\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Pillars:*\\n{{ $json.pillars ? $json.pillars.join(', ') : 'All' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Max Articles:*\\n{{ $json.max_articles }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Triggered at {{ $now.format('HH:mm') }} IST\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/YOUR/WEBHOOK/HERE",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"SPS Sentinel: Mission Failed\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Error:*\\n```{{ $json.detail || $json.error || 'Unknown error' }}```\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        500
      ]
    }
  ],
  "connections": {
    "Hourly Patrol": {
      "main": [
        [
          {
            "node": "Trigger Newsroom Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Trigger Newsroom Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Newsroom Mission": {
      "main": [
        [
          {
            "node": "Check Mission Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mission Started": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}