scripts/n8n-workflows/content-notification.json
{
  "name": "SPS Content Published Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-published",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Content Published Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "content-published"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.content.type }}",
              "operation": "equals",
              "value2": "intelligence"
            }
          ]
        }
      },
      "id": "check-content-type",
      "name": "Is Intelligence/News?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔴 *BREAKING INTELLIGENCE*\n\n*Title:* {{ $json.body.content.title }}\n*Severity:* {{ $json.body.content.severity || 'Medium' }}\n*Sector:* {{ $json.body.content.sector || 'General' }}\n*Quality Score:* {{ $json.body.content.quality_score }}/100\n\n🔗 {{ $json.body.content.url }}\n\n✅ *LIVE NOW* (SSR - no rebuild needed)\n⚡ Review within 2 hours",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-breaking",
      "name": "Notify: Breaking News",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [750, 200],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "SPS Alert Bot" } }
    },
    {
      "parameters": {
        "fromEmail": "alerts@sps-security.com",
        "toEmail": "={{ $env.ALERT_EMAIL }}",
        "subject": "=🔴 BREAKING: {{ $json.body.content.title }}",
        "html": "=<h2 style='color: #dc2626;'>Breaking Intelligence Published</h2><p><strong>This content is LIVE NOW</strong> - SSR serves it instantly without rebuild.</p><table style='border-collapse: collapse; width: 100%;'><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Title</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.body.content.title }}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Type</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>Intelligence (SSR)</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Quality Score</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{ $json.body.content.quality_score }}/100</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>URL</strong></td><td style='padding: 8px; border: 1px solid #ddd;'><a href='{{ $json.body.content.url }}'>View Article</a></td></tr></table><p style='margin-top: 20px; color: #666;'>Please review within 2 hours.</p>"
      },
      "id": "email-breaking",
      "name": "Email: Breaking News",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 350]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📝 *NEW BLOG ARTICLE QUEUED*\n\n*Title:* {{ $json.body.content.title }}\n*Type:* {{ $json.body.content.type }}\n*Quality Score:* {{ $json.body.content.quality_score }}/100\n\n📅 *Scheduled for 2am batch rebuild*\n\n🔗 Will be live at: {{ $json.body.content.url }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-scheduled",
      "name": "Notify: Scheduled Content",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [750, 500],
      "credentials": { "telegramApi": { "id": "telegram-bot", "name": "SPS Alert Bot" } }
    }
  ],
  "connections": {
    "Content Published Webhook": {
      "main": [[{ "node": "Is Intelligence/News?", "type": "main", "index": 0 }]]
    },
    "Is Intelligence/News?": {
      "main": [
        [
          { "node": "Notify: Breaking News", "type": "main", "index": 0 },
          { "node": "Email: Breaking News", "type": "main", "index": 0 }
        ],
        [
          { "node": "Notify: Scheduled Content", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
